<canvas id="canvas" class="canvas"></canvas>
<!-- <div class = 'out_phone'>
 <div class = 'in_phone'>
 </div>
</div> -->
<div class ='welcome container'>
<div class="jumbotron">
  <h2>Welcome, Xiaobo Ma's blog!</h2>
  <p style = 'text-align:right'>前端新手-Martin</p>
  <p>
     <a class="btn btn-success btn-lg" href='archives/' role="button"><i class= 'icon-home'></i> blog</a>
     <a class="btn btn-success btn-lg" href="https://github.com/yuzai" role="button"><i class= 'icon-github'></i> github</a>
     <a class="btn btn-success btn-lg" href="/rs/wechat.jpg" role="button"><i class= 'icon-wechat'></i> WeChat</a>
     <a class="btn btn-success btn-lg" href="https://shop112051817.taobao.com/?spm=2013.1.1000126.d21.cwM4Hx" role="button"><i class= 'icon-taobao'></i> Store</a>
  </p>
</div>
</div>
