<canvas id="canvas" class="canvas"></canvas>
<!-- <div class = 'out_phone'>
 <div class = 'in_phone'>
 </div>
</div> -->
<div class ='welcome container'>
<div class="jumbotron">
  <h2>Welcome!</h2>
  <p style = 'text-align:right'>不爱加班不爱卷的程序员--芋仔</p>
  <p>
     <a class="btn btn-success btn-lg" href='archives/' role="button"><i class= 'icon-home'></i> 文章</a>
     <a class="btn btn-success btn-lg" href="https://github.com/yuzai" role="button"><i class= 'icon-github'></i> github</a>
     <a class="btn btn-success btn-lg" href="/rs/wechat.jpg" role="button"><i class= 'icon-wechat'></i> 微信</a>
  </p>
</div>
</div>
