<canvas id="canvas" class="canvas"></canvas>
<!-- <div class = 'out_phone'>
 <div class = 'in_phone'>
 </div>
</div> -->
<div class ='welcome container'>
<div class="jumbotron">
  <h2>Welcome!</h2>
  <h4 style = 'text-align:right'>不爱加班不爱卷的程序员--芋仔</h4>
  <div>
     <a class="btn btn-primary btn-lg" href='archives/' role="button"><i class= 'icon-home'></i> 文章</a>
     <a class="btn btn btn-lg" href="https://github.com/yuzai" role="button"><i class= 'icon-github'></i></a>
     <a class="btn btn btn-lg" href="/rs/wechat.jpg" role="button" target="_blank"><i class= 'icon-wechat'></i></a>
     <a class="btn btn btn-lg" href="/rs/wechat.jpg" role="button" target="_blank"><i class= 'icon-zhihu-square'></i></a>
  </div>
</div>
</div>
