---
layout: layout
---
<div id='head'>
</div>
<%- partial('_partial/header') %>
<div style = 'margin-top:180px'>
<%- partial('_partial/article', {post: page}) %>
</div>
<%- partial('_partial/footer') %>
