---
layout: layout
---
<img id = 'head'>
</div>
<%- partial('_partial/header') %>
<div style = 'margin-top:180px'>
<%- partial('_partial/archives') %>
</div>
<%- partial('_partial/footer') %>
