
  <img id = 'my_picture'>
  <p style='text-align:center;font-size:30px'>Martin</p>
  <ul id='aboutme'>
    <li><a  style = 'color:#000000' title = 'github' href="https://github.com/yuzai" role="button"><i class= 'icon-github'></i></a></li>
    <li><a  style = 'color:#2672ae' title = 'blog' href= 'https://www.linkedin.com/home?trk=nav_responsive_tab_home' role="button"><i class= 'icon-linkedin'></i></a></li>
    <li><a  style = 'color:#62b900' title = 'wechat' href="/rs/wechat.jpg" role="button"><i class= 'icon-wechat'></i></a></li>
    <li><a  style = 'color:#FF5400' title = 'my store'href="https://shop112051817.taobao.com/?spm=2013.1.1000126.d21.cwM4Hx" role="button"><i class= 'icon-taobao'></i></a></li>
  </ul>
