body { padding-top: 70px; }
p {
  margin: 1.4em 0;
}
.canvas{
  position:absolute;
  z-index:-1;
  top:0;
  left: 0;
  right: 0;
  bottom:0;
}
.welcome{
  margin-top: 10%;
  margin-left:40%;
  width:50%;
  opacity: 0.3;
}
.welcome:hover{
  opacity: 0.8;
}

.out_phone{
  float:right;
  height:200px;
  width:100px;
  border:1px solid white;
  border-radius:5%;
  background:black;
}
.in_phone{
  margin:10px auto;
  height:90%;
  width:80%;
  background:white;
}
.pagination .p{
  text-align:center;
}
.archive{
  padding:1% 2%;
}
.archive .archive_item{
  margin-bottom: 2%;
  border-bottom: 1px dotted #428bca;
  font-size:15px;
}
.archive .archive_item a{
  text-decoration:none;
}
.archive .archive_item .date{
  float:right;
  font-size:10px;
}
.archive .pagination{
  width:100%;
  text-align: center;
}
#my_picture{
	border-radius: 100%;
	display: block;
	width:200px;
  height:200px;
	margin:1% auto;
	background-image: url(../rs/m2.jpg);
  background-size: 100% 100%;
}
#aboutme{
  list-style-type: none;
    margin: 0;
    padding: 1%;
    text-align:center;
    font-size:30px;
}
#aboutme li {
    display:inline;
}
#aboutme li a{
    display:inline-block;
    width:30px;
    height:30px;
    text-decoration: none;
    margin:1%;
		opacity:1;
}
#aboutme li a:hover{
  color:#428bca;
  opacity: 1;
}
#tags{
  text-align: center;
}
#tags a{
  border:1px solid black;
  margin:1%;
  background-color:white;
  opacity: 0.5;
}
#tags a:hover{
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
  opacity: 1;
}
.myfoot p{
  text-align: center;
}
.myfoot a{
  text-decoration: none;
  background:#428bca;
  color:rgb(241,241,241);
  font-size:20px;
}
/*.category-list{
  list-style-type: none;
  margin:0;
  padding:0;
}
.category-list li{
  text-decoration: none;
}*/
#head{
  position:absolute;
  width:100%;
  height:300px;
  background-size:100% 100%;
  background:url(/rs/p1.jpg)  0 -100px no-repeat;
  top:0;
  left:0;
  z-index:-1;
}
@media screen and (max-width: 768px)
{
  #head{
    background:url(/rs/p1.jpg)  -110px -140px no-repeat;
  }
}
header{
  opacity: 0.4;
}
header:hover{
  opacity: 1;
}
#ab_ca{
  overflow:auto;
  height:80%;
}
.about_fix
{
  position:fixed;
  top:50px;
  z-index:1;
}
.tag-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.tag-list .tag-list-item{
  float:left;
}
.tag-list .tag-list-item .tag-list-link{
    display: block;
    padding: 8px;
    margin:4px;
    text-decoration: none;
    background-color: #5cb85c;
    color:white;
    border-radius:3px;
}
.tag-list .tag-list-item .tag-list-link:hover{
    background-color: #449d44;
    border-color:#398439;
}
.tag-list .tag-list-item .tag-list-count{
    display:none;
}
.work-figure{
	position:relative;
	top:0;
	left:0;
}
.img_pc{
	max-width: 100%;
	height:auto;
	display:block;
}
.img_mobile{
	position:absolute;
	bottom:10%;
  right:10%;
	max-height: 70%;
	width:auto;
	display:block;
	outline:1px solid white;
}
#archive2 .article-tag-list{
	list-style-type: none;
	padding:0;
}


/*ceshi slide*/
.slide {
position: relative;
height: 200;
/* lightyellow; */
}

.slide .inner {
position: absolute;
left: 0;
bottom: 0;
height: 100;
/* lightblue; */
width: 100%
}

.sideslide_control{
	position:fixed;
	top:0;
	height:100%;
	left:0;
	z-index:5;
	width:80%;
}
#up{
	opacity:1;
}
#up:hover{
	opacity:1;
}
@media screen and (max-width:768px){
	#up{
		opacity:0.4;
	}
	#up:hover{
		opacity:1;
	}
}
.post-content{
	white-space: normal;
  word-break: break-all;
}
.post-content figure{
	overflow: auto;
}
.post-content p{
	overflow: auto;
}
/*.post-content img{
	max-width: 2000px;
}
@media screen and (max-width:768px){
	.post-content img{
	max-width:400px;
	}
}*/
.category_col{
	padding:0;
}
pre{
	padding:0;
}

.hljs{
	overflow:auto;
}
pre code{
	white-space: pre;
}
h6.date{
  float:right;
  margin-top:0;
}